# Ensemble Learning

## Initial Imports

In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [18]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Read the CSV and Perform Basic Data Cleaning

In [19]:
# Load the data

df = pd.read_csv("/content/LoanStats_2019Q1.csv")

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [20]:
# Create our features
X = df.drop(columns='loan_status')
X = pd.get_dummies(X)

# Create our target
target = ["loan_status"]
y = df.loc[:, target].copy()

In [21]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [22]:
# Check the balance of our target values
y.value_counts()

loan_status
low_risk       68470
high_risk        347
dtype: int64

In [23]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test= train_test_split(X, y, random_state=1)

X_train.shape

(51612, 95)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [24]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [25]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [26]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [27]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brf = BalancedRandomForestClassifier(n_estimators=1000, random_state=1, max_features = 95)

In [28]:
X_train_scaled.shape

(51612, 95)

In [29]:
y_train.shape

(51612, 1)

In [30]:
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(max_features=95, n_estimators=1000,
                               random_state=1)

In [39]:
# Calculated the balanced accuracy score
y_pred_brf = brf.predict(X_test_scaled)
bas_brf=balanced_accuracy_score(y_test, y_pred_brf)
print(bas_brf)

0.8341523377080458

In [40]:
# Display the confusion matrix
cm_brf = confusion_matrix(y_test, y_pred_brf)
cm_df_brf = pd.DataFrame(
    cm_brf, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_brf

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   77                  24
Actual Low Risk                  1609               15495

In [41]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_brf))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.05      0.76      0.91      0.09      0.83      0.68       101
   low_risk       1.00      0.91      0.76      0.95      0.83      0.70     17104

avg / total       0.99      0.91      0.76      0.94      0.83      0.70     17205

In [42]:
# List the features sorted in descending order by feature importance
mportances = brf.feature_importances_
sorted(zip(brf.feature_importances_, X.columns), reverse=True)

[(0.1793229409007335, 'total_rec_prncp'),
 (0.08878000886746025, 'last_pymnt_amnt'),
 (0.0867882090525754, 'total_rec_int'),
 (0.04800102746100476, 'issue_d_Jan-2019'),
 (0.0405652692774463, 'int_rate'),
 (0.025826538148201853, 'issue_d_Mar-2019'),
 (0.022902075818243918, 'total_pymnt'),
 (0.021045648811957356, 'total_pymnt_inv'),
 (0.019294347614696377, 'dti'),
 (0.016735630061511395, 'mths_since_recent_inq'),
 (0.01664817034827747, 'mo_sin_old_rev_tl_op'),
 (0.014893461258849838, 'avg_cur_bal'),
 (0.014777937794281937, 'installment'),
 (0.014119137821952284, 'max_bal_bc'),
 (0.013660376888286052, 'mo_sin_old_il_acct'),
 (0.013542315541494866, 'annual_inc'),
 (0.012879413063225952, 'revol_bal'),
 (0.012481480429572858, 'il_util'),
 (0.011546435507915037, 'mths_since_rcnt_il'),
 (0.011187277509937291, 'out_prncp'),
 (0.011075407434237572, 'bc_util'),
 (0.010920899108180412, 'total_rec_late_fee'),
 (0.010220449487500585, 'out_prncp_inv'),
 (0.010184351332598702, 'mths_since_recent_bc'),
 (0.00978033067339006, 'tot_hi_cred_lim'),
 (0.009756028894390296, 'all_util'),
 (0.009718734091256566, 'total_bal_ex_mort'),
 (0.00916841936149555, 'total_il_high_credit_limit'),
 (0.008958510368953999, 'total_bal_il'),
 (0.008891138620408441, 'num_rev_accts'),
 (0.008561240825741605, 'total_bc_limit'),
 (0.008461588904320756, 'total_rev_hi_lim'),
 (0.00810305906684823, 'tot_cur_bal'),
 (0.007971142041467623, 'bc_open_to_buy'),
 (0.007518423181473767, 'next_pymnt_d_May-2019'),
 (0.0074271885506223614, 'mo_sin_rcnt_rev_tl_op'),
 (0.007343214525196019, 'next_pymnt_d_Apr-2019'),
 (0.00713262633340719, 'inq_last_12m'),
 (0.006943073562617421, 'pct_tl_nvr_dlq'),
 (0.006901902364515394, 'total_acc'),
 (0.0069012172198644915, 'open_il_24m'),
 (0.006315845430166206, 'num_il_tl'),
 (0.005979785567480864, 'acc_open_past_24mths'),
 (0.005972626822738107, 'total_cu_tl'),
 (0.005570918076891877, 'num_op_rev_tl'),
 (0.005483515029413371, 'mo_sin_rcnt_tl'),
 (0.00545896550141165, 'inq_fi'),
 (0.005329390750842954, 'open_act_il'),
 (0.005320693237882539, 'mort_acc'),
 (0.004922759993658376, 'num_actv_bc_tl'),
 (0.004755674388711754, 'num_bc_tl'),
 (0.00465458945396894, 'loan_amnt'),
 (0.0046360349862691235, 'issue_d_Feb-2019'),
 (0.004485043528565965, 'percent_bc_gt_75'),
 (0.004472196824558009, 'num_actv_rev_tl'),
 (0.00424202008738207, 'num_tl_op_past_12m'),
 (0.004112510284113342, 'num_rev_tl_bal_gt_0'),
 (0.004024941757077839, 'open_acc_6m'),
 (0.003977861794201641, 'open_acc'),
 (0.003834464662595042, 'delinq_2yrs'),
 (0.0035791723269081623, 'num_sats'),
 (0.0035725315031449227, 'num_bc_sats'),
 (0.003477495066993142, 'open_rv_24m'),
 (0.0033898685679565397, 'tot_coll_amt'),
 (0.003129926808286495, 'open_il_12m'),
 (0.002981564675190281, 'inq_last_6mths'),
 (0.002649227834914573, 'num_accts_ever_120_pd'),
 (0.0025529554738183595, 'open_rv_12m'),
 (0.0018947584252229739, 'verification_status_Not Verified'),
 (0.0015687199555934701, 'home_ownership_OWN'),
 (0.0013378072666771882, 'verification_status_Verified'),
 (0.0009235227728493637, 'home_ownership_MORTGAGE'),
 (0.0009160808214198222, 'home_ownership_RENT'),
 (0.0008904838815746723, 'application_type_Joint App'),
 (0.0008743152508580216, 'verification_status_Source Verified'),
 (0.0008671674069540373, 'pub_rec_bankruptcies'),
 (0.0007793032226875153, 'collections_12_mths_ex_med'),
 (0.0007635513691687772, 'num_tl_90g_dpd_24m'),
 (0.0007633168718855501, 'initial_list_status_f'),
 (0.000753934109903265, 'initial_list_status_w'),
 (0.0007452485137436691, 'pub_rec'),
 (0.0006048478220554411, 'application_type_Individual'),
 (0.0004207045274528685, 'home_ownership_ANY'),
 (6.901351108022333e-05, 'chargeoff_within_12_mths'),
 (7.995709619228698e-06, 'delinq_amnt'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [50]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier

eec = EasyEnsembleClassifier(n_estimators=1000, random_state=1)
eec.fit(X_train_scaled, y_train)

AttributeError: ignored

In [36]:
# Calculated the balanced accuracy score
y_pred_eec = eec.predict(X_test_scaled)
bas_eec=balanced_accuracy_score(y_test, y_pred_brf)
print(bas_eec)

In [37]:
# Display the confusion matrix
cm_eec = confusion_matrix(y_test, y_pred_eec)
cm_df_eec = pd.DataFrame(
    cm_eec, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_eec

In [38]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_eec))

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.